sacrebleu==2.0.0
requests==2.22.0
urllib3==1.25.6
numpy
pyarrow
tqdm==4.46.0
dataclasses
boto3==1.10.18
fastprogress==0.1.21
pandas
botocore==1.13.18
torch
fire==0.2.1
beautifulsoup4==4.10.0
imageio==2.9.0
ipython
rarfile==4.0
backoff==1.10.0
iso639-lang
sentencepiece

pyicu
transformers==4.9.2
tokenizers==0.10.3
